Source: lightverifier
Section: utils
Priority: optional
Maintainer: Adrian L. Shaw <adrianlshaw@acm.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/adrianlshaw/LightVerifier
Vcs-Git: git://github.com/adrianlshaw/lightverifier.git
Vcs-Browser: https://github.com/adrianlshaw/lightverifier.git

Package: lightverifier
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bash, netcat-traditional, tpm-tools, libtspi-dev
Recommends: redis-tools
Description: A lightweight set of remote attestation tools
  Allows a remote system to be continually monitored for unknown pieces of software. It is a hardware-based security solution that is dependent on the Trusted Platform Module (TPM) found in commodity computers.
